<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Carbohydrates</h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>
                                <li>
                              <b>  Carbohydrates </b>are the main<b> source of energy </b>for the body and for the brain.
There are 2 major types: 
                              <ol>
                                <li><b>Simple carbohydrates</b> (also called simple sugars) found in fruits, milk
and refined and unrefined sugar</li>
                            </ol> 
                              <ol>
                                <li><b>Complex carbohydrates</b>(starches) found in starchy vegetables, bread,
pasta, crackers, cereals, pulses, rice and other grains</li>
                            </ol>
                            <li><b>How much carbohydrate is needed? </b>It is usually advised that carbohydrates
make up<b> 50-60% </b>of your diet. Of these 80% are best chosen as complex
carbohydrates, which are high in <b>fibre.</b></li> 
  <li>
                           <b> Fibre</b> – There are two types of<b> fibre</b>: soluble and insoluble.Fibre
                              <ol>
                                <li><b>Soluble fibre </b>sources include oats, fruits and vegetables and legumes.
They help lower cholesterol.</li>
                            </ol> 
                              <ol>
                                <li><b>Insoluble fibre</b>, obtained from wheatbran, wholegrains, cereals, fruit and
vegetables, helps to balance blood sugar and gives bulk to the stool.
Adults need at least 18g a day.</li>
                            </ol>
                                
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
