<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
  <section id="projects2" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Fats</h1>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                            <ul>
                            <li>
                              <b> Fats</b> are needed to provide <b>energy, warmth and protection </b>for organs and tissues
and for <b>absorption and transportation of nutrients and hormones</b>. Fat sources
include butter, milk, animal fats, meat, and fish, plant and seed oils.
                            </li>
                              <li>
                              <b>  Saturated fats are </b>usually derived from animals and are solid at room temperature
e.g. lard, butter, hard margarine, cheese, whole milk, and anything made from these
like cakes, chocolate, biscuits, pies and pastries, as well as the fatty part of meat.
                            </li>
                              <li>
                             <b>   Unsaturated fats are </b>usually from plant sources and liquid at room temperature. They
include monounsaturated fats (e.g. olive oil) and polyunsaturated fats (e.g. safflower,
sunflower, and corn oils). They can also be found in oily fish, such as mackerel,
salmon, sardines, and pilchards. These oils are important for health.
                            </li>
                              <li>
                             Saturated fats should be eaten very sparingly. Unsaturated fats are recommended to
represent no more than 30% of dietary intake with limits advised<b> of 76g fat per day
for women</b> and about<b>100g/day for men.</b>
                            </li>
                              <li><b>
                             Cholesterol is another form of fat found in the bloodstream and in all cells of the
body. There are two forms of cholesterol: high-density lipoprotein (HDL)
cholesterol, so-called ‘good cholesterol’ and low-density lipoprotein (LDL)
cholesterol, ‘bad’ cholesterol. Whilst cholesterol is an important part of a
healthy body (it's used for producing cell membranes and some hormones) too
much LDL cholesterol in the blood can cause problems. Dietary cholesterol is
found in all animal products, poultry, fish, milk and milk products, and egg yolk.</b>
                            </li>
                              <li>
                               <b> Trans fats </b> : are a by-product of hydrogenation, whereby hydrogen is added to liquid
fats to make them solid. Trans fats are found in solid margarines and processed foods.
Frying foods also generates trans fats. The body cannot recognise these artificial fats
so they get stored. They are believed to be harmful to health and are best avoided.
This can be achieved simply by reading labels on food – if you see the word
‘hydrogenated’ on the label then you may wish to make an alternative choice.
                            </li>
                            </ul>         
            </section>           
</div>
